body {
	background-color: #dbdbdb;
}
/*Navbar things*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: black;
}

/*Body*/
h1 {
	text-align: center;
}

.centerText{
	text-align: center;

}

 #icon.fifty{
	width: 25%;
	height: 25%;
}

#navbar a{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#middle{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
#footer a{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer.container{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: transparent;
  text-align: center;
}
